.loading {
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   
  width: 100vw;
  background: rgba(255, 255, 255, 0.7); 
  z-index: 9999;  
}



.card-total:hover {
  transform: scale(1.05);  
}



.card-total:hover button {
  opacity: 1;
  display: block;
}
